## Introduction

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns 
import datetime as dt
import folium
from folium.plugins import HeatMap, HeatMapWithTime
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [4]:
data_df = pd.read_csv(os.path.join("..", "data", "data-europa-eu-euodp", "ei_etea19_m.tsv"), sep='\t')

In [5]:
data_df.shape

(3915, 256)

In [7]:
data_df.head()

,"stk_flow,unit,partner,indic,geo\time",2020M03,2020M02,2020M01,2019M12,2019M11,2019M10,2019M09,2019M08,2019M07,...,1999M10,1999M09,1999M08,1999M07,1999M06,1999M05,1999M04,1999M03,1999M02,1999M01
0,"BAL_RT,IVOL-NSA,EXT_EA19,ET-CAP,AT",:,:,72.9,107.3,90.6,107.4,83.0,75.5,83.7,...,:,:,:,:,:,:,:,:,:,:
1,"BAL_RT,IVOL-NSA,EXT_EA19,ET-CAP,BE",:,:,92.6,106.9,102.1,94.9,101.7,89.8,105.7,...,:,:,:,:,:,:,:,:,:,:
2,"BAL_RT,IVOL-NSA,EXT_EA19,ET-CAP,BG",:,:,102.9,104.3,110.8,119.2,124.6,146.3,139.0,...,:,:,:,:,:,:,:,:,:,:
3,"BAL_RT,IVOL-NSA,EXT_EA19,ET-CAP,CY",:,:,50.0,150.5,158.3,267.0,48.5,292.9,80.5,...,:,:,:,:,:,:,:,:,:,:
4,"BAL_RT,IVOL-NSA,EXT_EA19,ET-CAP,CZ",:,:,85.1,96.0,83.9,80.6,94.5,91.2,99.9,...,:,:,:,:,:,:,:,:,:,:

In [13]:
data_df.columns

Index(['stk_flow,unit,partner,indic,geo\time', '2020M03 ', '2020M02 ',
       '2020M01 ', '2019M12 ', '2019M11 ', '2019M10 ', '2019M09 ', '2019M08 ',
       '2019M07 ',
       ...
       '1999M10 ', '1999M09 ', '1999M08 ', '1999M07 ', '1999M06 ', '1999M05 ',
       '1999M04 ', '1999M03 ', '1999M02 ', '1999M01 '],
      dtype='object', length=256)

In [19]:
data_df[['2020M03 ', '2020M02 ', '2020M01 ']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3915 entries, 0 to 3914
Data columns (total 3 columns):
2020M03     3915 non-null object
2020M02     3915 non-null object
2020M01     3915 non-null float64
dtypes: float64(1), object(2)
memory usage: 91.9+ KB

In [20]:
data_df[['2020M03 ', '2020M02 ', '2020M01 ']].nunique()

2020M03       11
2020M02      115
2020M01     1777
dtype: int64

In [22]:
data_df['2020M03 '].value_counts()

:            3905
165048.8        1
-8.9            1
-9.0            1
193256.1        1
-6.2            1
23481.8         1
28207.3         1
157256.7        1
180738.4        1
-10.0           1
Name: 2020M03 , dtype: int64

In [23]:
data_df['2020M02 '].value_counts()

:           3780
-1.8           4
1.2            3
102.2          3
0.0            3
            ...
108.5          1
103.0          1
43887.6        1
8387.4         1
1.6            1
Name: 2020M02 , Length: 115, dtype: int64

In [24]:
data_df['2020M01 '].value_counts()

 0.8       24
 0.7       24
-1.0       21
 1.5       20
 0.3       20
           ..
 2450.9     1
 130.6      1
 132.5      1
 90.0       1
 50.0       1
Name: 2020M01 , Length: 1777, dtype: int64

Note: the data does not contains recent (2020, April, May) columns and for Jan, Feb, March 2020  there are missing data.